*{
    box-sizing: border-box;
    
}
body{
    background: url("../images/fond1.jpg") no-repeat;
    background-size: cover;
}
.header{
    height: 3em;
    background: #1F679B;
    letter-spacing: .5em
}

@media screen and (min-width : 1000px){
    .center{
        width: 60%;
        align-items: center !important;
  
    }
}

nav a{
    border: 1px solid #000;
    border-radius: 10px;
}
.h-25 td{
    height: 10px !important;
}
div #suiv ,.suiv input {

    height: 1.5em !important;
    line-height: .5em;
}